# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Project specific
external_deps/

# VS Code
.vscode/

# ROS
build/
install/
log/
devel/

# Python
__pycache__/
*.pyc
*.pyo

# Other
.DS_Store
*~
*.swp
**/.vscode/
