<?xml version="1.0" encoding="UTF-8"?>
<robot name="mobile_manipulation_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
   <xacro:include filename="$(find husky_description)/urdf/husky.urdf.xacro"/>
   <xacro:include filename="$(find arm_description)/urdf/ur5e.urdf.xacro"/>
   <xacro:include filename="$(find gripper_description)/urdf/gripper.urdf.xacro"/>
   
   <joint name="arm_mount_joint" type="fixed">
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <parent link="top_plate_link"/>
       <child link="arm_world"/>
   </joint>

</robot>